<!DOCTYPE html>
<html th:fragment="layout(title, content)"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">NutriFit</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<nav class="navSuperior">
    <span class="logo">NutriFit</span>

    <ul>
        <li>
            <a th:href="@{/dashboard}">Dashboard</a>
        </li>

        <li th:if="${usuarioLogado != null}">
            <a th:href="@{/refeicoes}">Refeições</a>
        </li>

        <li th:if="${usuarioLogado != null}">
            <a th:href="@{/treinos}">Treinos</a>
        </li>

        <li th:if="${usuarioLogado != null}">
            <a th:href="@{/planos}">Planos</a>
        </li>

        <li th:if="${usuarioLogado != null}">
            <a th:href="@{/agendamentos}">Agendamentos</a>
        </li>

        <li th:if="${usuarioLogado != null}">
            <a th:href="@{/hidratacoes}">Hidratação</a>
        </li>

        <li th:if="${usuarioLogado != null}">
            <a th:href="@{/logout}">Sair</a>
        </li>

        <li th:if="${usuarioLogado == null}">
            <a th:href="@{/login}">Login</a>
        </li>
    </ul>
</nav>

<main th:replace="${content}">

</main>

<script th:src="@{/js/scripts.js}"></script>
</body>
</html>