<!DOCTYPE html>
<html th:fragment="layout(title, content)"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">NutriFit</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<nav class="navSuperior">
    <span class="logo">NutriFit</span>

    <ul>
        <li>
            <a th:href="@{/dashboard}">Dashboard</a>
        </li>

        <li sec:authorize="hasRole('USUARIO')">
            <a th:href="@{/refeicoes}">Refeições</a>
        </li>

        <li sec:authorize="hasRole('USUARIO')">
            <a th:href="@{/treinos}">Treinos</a>
        </li>

        <li sec:authorize="hasRole('USUARIO')">
            <a th:href="@{/planos}">Planos</a>
        </li>

        <li sec:authorize="hasRole('USUARIO')">
            <a th:href="@{/agendamentos}">Agendamentos</a>
        </li>

        <li sec:authorize="hasRole('USUARIO')">
            <a th:href="@{/hidratacoes}">Hidratação</a>
        </li>

        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/usuarios}">Usuários</a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a onclick="document.getElementById('frmLogout').submit(); return false" style="cursor:pointer">
                Sair
            </a>
        </li>

        <li sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a>
        </li>
    </ul>

    <form id="frmLogout" style="display:none" method="post" th:action="@{/logout}"></form>
</nav>

<main th:replace="${content}">

</main>

<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
